html {
    width: 100%;
    height: 100%;
    margin: 0rem;
}

body {
    line-height: 1.7;
    background: #000;
    color: #fff;
    font-weight: 300;
    font-size: 1rem;
    font-family: Verdana, Arial, Helvetica, sans-serif;;
    text-align: left;
}

header {
    margin-bottom: 0rem;
    display: flex;
    padding-bottom: 1rem;
    padding-top: 1rem;
    justify-content: center;
    width: 100%;
}

.container {
    width: auto;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    display: flex;
    align-items: baseline;
    max-width: 77%;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    position: relative;
    flex: 0 0 85%;
    justify-content: space-around;
}

.menu-container {
    max-width: 83%;
}

.container-upload {
    width: auto;
    padding: 1rem 1rem 1rem 1rem;
    display: flex;
    max-width: 92%;
    position: relative;
    margin: auto;
    justify-content: center;
}

.message-box {
    display: flex;
    justify-content: center;
    width: 100%;
}

.message {
    width: auto;
    display: flex;
    align-items: baseline;
    max-width: 69%;
    position: relative;
    flex: 0 0 69%;
    justify-content: start;
}

table {
    padding-top: 2rem;
}

.site-title {
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
}

.menu-item {
    position: relative;
    width: auto;
    display: flex;
}

h1 {
    font-size: 2rem;
    margin-bottom: 0rem;
    margin-top: 0rem;
    font-weight: 500;
    display: block;
    text-transform: lowercase;
    letter-spacing: 1px;
}

h2, label {
    font-size: 1rem;
    margin-bottom: 0rem;
    margin-top: 0rem;
    font-weight: 500;
    display: flex;
    text-transform: lowercase;
    align-items: center;
    width: 9rem;
    letter-spacing: 1px;
}

h3 {
    font-size: 1rem;
    padding: 0rem 0rem 0rem 2rem;
    font-weight: 500;
    display: block;
    text-transform: lowercase;
    letter-spacing: 1px;
}

a {
    color: #fff;
    background-color: transparent;
    text-decoration: none;
    letter-spacing: 1px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    padding: 0rem 1rem 0rem 1rem;
}

.col {
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
    display: flex;
}

.img-wrapper {
    display: flex;
    top: 0rem;
    left: 1rem;
    right: 1rem;
    margin-bottom: 30px;
    max-width: 25rem;
    overflow: hidden;
    justify-content: center;
}

img {
    vertical-align: middle;
    border-style: none;
    height: 25rem;
    width: auto;
    border-radius: 1.5rem;
}

.img-box {
    text-align: center;
    position: absolute;
    font-size: 1.5rem;
    line-height: 25rem;
    font-weight: 500;
    display: block;
}

.btn {
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    text-align: center;
    vertical-align: middle;
    background-color: #000;
    color: #fff;
    text-transform: lowercase;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: .1em;
    border-radius: 1.5rem;
}

footer {
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    display: block;
}

.form-search, .img-page {
    padding-top: 1rem;
    padding-bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.form-upload {
    padding-top: 1rem;
    padding-bottom: 2rem;
    width: 100%;
    justify-content: center;
    display: block;
}

.img-info-box {
    display: block;
    width: 71%;
}

.img-info {
    width: auto;
    padding: 1rem 1rem 1rem 1rem;
    display: flex;
    max-width: 92%;
    position: relative;
    margin: auto;
    align-items: baseline;
}

.search-box {
    position: relative;
    border: 1px solid transparent;
    border-color: #fff;
    color: #fff;
    border-width: 2px;
    width: auto;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 0.5rem 0.1rem 0.5rem 0.5rem;
    align-items: center;
    flex: 0 0 80%;
    max-width: 60%;
}

.local-upload {
    border-width: 0px;
}

.search-button {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    border-color: #fff;
    color: #fff;
    border-width: 2px;
    position: relative;
    width: auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
    cursor: pointer;
}

input {
    font-size: 1rem;
    color: #fff;
    background-color: transparent;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    outline: none;
    letter-spacing: 1px;
}

input[type=text] {
    font-size: 1rem;
    color: #fff;
    background-color: transparent;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    outline: none;
    width: 100%;
    letter-spacing: 1px;
}

input[type=file]::file-selector-button {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    border-color: #fff;
    color: #fff;
    border-width: 2px;
    position: relative;
    width: auto;
    margin: 1rem 0rem 1rem -1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: #333333;
}

input[type=submit] {
    letter-spacing: 1.5px;
    cursor: pointer;
}

p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: block;
    padding-left: 30px;
    padding-bottom: 1rem;
}

.info {
    width: 100%;
}