<!doctype html>
<html lang="en">
    <head>
        <title>Delete Image</title>
        <link href="static/css/template.css" type="text/css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet">
    </head>

    <body>
        <header>
            <div class="container menu-container">
                <div class="site-title">
                    <h1><a href="/delete">Delete Image</a></h1>
                </div>
                <div class="menu-item">
                    <h3><a href="/">Collection [>]</a></h3>
                </div>
            </div>
        </header>

        <div class="message-box">
			<div class="message">
                <p>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                </p>
            </div>
        </div>
        
        <form method="post">
            <table class="container">
                {% for row in images %}
                <div class="row">
                    {% for image in row %}
                    <div class="col">
                        <div class="img-wrapper">
                            <div class="img-box">
                                <input type="submit" name='{{image["id"]}}' value='[x] {{image["name"]}}' class="btn">
                            </div>
                            <img src='{{image["url"]}}'>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </table>
        </form>
        
        <footer></footer>
    </body>
</html>