<!doctype html>
<html lang="en">
    <head>
        <title>Image Repository</title>
        <link href="static/css/template.css?rnd=11" type="text/css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet">
    </head>

    <body>
        <header>
            <div class="container">
                <div class="site-title">
                    <h1><a href="/">Image Collection</a></h1>
                </div>
                <div class="add-image">
                    <h3><a href="/upload">Add Image [+]</a></h3>
                </div>
            </div>
        </header>

        <form method="post">
            <div class="search-box">
                <input name="search" type="text" placeholder="Search by Image Characteristic">
            </div>
            <div class="search-button">
                <input type="submit" value="SEARCH">
            </div>
        </form>

        <p>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
            {% endif %}
            {% endwith %}
        </p>
        
        <table class="container">
            {% for row in images %}
            <div class="row">
                {% for image in row %}
                <div class="col">
                    <div class="img-wrapper">
                        <div class="img-info">
                            <a href='/image{{image["id"]}}' class="btn">{{image["name"]}}</a>
                        </div>
                        <img src='{{image["url"]}}'>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </table>
        
        <footer></footer>
    </body>
</html>