<!doctype html>
<html>
<head>
    <title>Image Repository</title>
    <link rel="stylesheet" type="text/css" href="static/css/home.css">
    <link href="https://fonts.googleapis.com/css?family=Mali" rel="stylesheet">
</head>
<body>
    <h2>Image Collection</h2>
    <form method=post>
        <input type="text" name="search" class="search" placeholder="Search by image characteristic">
        <input type="submit" value="Search">
    </form>
    <p>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </p>
    <hr>
    <table>
        <tr>
            <th>Name</th>
            <th>Image</th>
        </tr>
        {% for image in images %}
        <tr>
            <td>{{image["name"]}}</td>
            <td><img src='{{image["url"]}}'width="400" height="400"></td>
            <td>{{image["labels"]}}</td>
        </tr>
        {% endfor %}
    </table>
    <hr>
    <a href="/upload">Add New Web Image</a>
</body>

</html>