<!doctype html>
<html>
<title>Python Flask File Upload Example</title>
<h2>Select a file to upload</h2>
<p>
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<ul>
		{% for message in messages %}
		<li>{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	{% endwith %}
</p>
<form method="post" action="/upload" enctype="multipart/form-data">
	<dl>
		<p>
			<dt>Image Name:</dt>
			<input type="text" name="name">
		</p>
		<p>
			<dt>Image Web URL:</dt>
			<input type="text" name="image_url">
		</p>
	</dl>
	<p>
		<input type="submit" value="Submit">
	</p>
</form>
{% if image_url %}
<div>
	<h3>Image added</h3>
	<img src="{{image_url}}" width="400" height="400">
</div>
{% endif %}
<hr>
<a href="/">Return to Main Page</a>
</html>
