<!doctype html>
<html lang="en">
	<head>
		<title>Upload Image</title>
		<link href="static/css/template.css" type="text/css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet">
	</head>
	
	<body>
		<header>
			<div class="container">
				<div class="site-title">
					<h1><a href="/upload">Add Web Image</a></h1>
				</div>
				<div class="add-image">
					<h3><a href="/">Collection</a></h3>
				</div>
			</div>
		</header>
		
		<p>
			{% with messages = get_flashed_messages() %}
			{% if messages %}
			{% for message in messages %}
				{{ message }}
			{% endfor %}
			{% endif %}
			{% endwith %}
		</p>

		<form method="post" class="form-upload">
			<div class="container-upload">
				<h2>Image Name:</h2>
				<div class="search-box">
					<input name="name" type="text">
				</div>
			</div>
			<div class="container-upload">
				<h2>Image Web URL:</h2>
				<div class="search-box">
					<input name="image_url" type="text">
				</div>
			</div>
			<div class="container-upload">
				<div class="search-button add-image">
					<input type="submit" value="SUBMIT">
				</div>
			</div>
		</form>

		<div class="row">
			<img src="{{image_url}}">
		</div>
		
		<footer></footer>
	</body>
</html>
